
CREATE DATABASE [QLBanHang]

CREATE TABLE [dbo].[CHITIETDONHANG](
	[SOHOADON] [varchar](30) NOT NULL,
	[MAHANG] [varchar](20) NOT NULL,
	[GIABAN] [money] NOT NULL,
	[SOLUONG] [float] NOT NULL,
	[MUCGIAMGIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 9/11/2019 4:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[SOHOADON] [varchar](30) NOT NULL,
	[MAKHACHHANG] [varchar](20) NOT NULL,
	[MANHANVIEN] [varchar](20) NOT NULL,
	[NGAYDATHANG] [date] NOT NULL,
	[NGAYGIAOHANG] [date] NOT NULL,
	[NGAYCHUYENHANG] [date] NOT NULL,
	[NOICHUYENHANG] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 9/11/2019 4:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [varchar](20) NOT NULL,
	[TENCONGTI] [nvarchar](100) NOT NULL,
	[TENGIAODICH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIENTHOAI] [varchar](30) NULL,
	[FAX] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 9/11/2019 4:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAIHANG] [nvarchar](30) NOT NULL,
	[TENLOAIHANG] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 9/11/2019 4:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAHANG] [varchar](20) NOT NULL,
	[TENHANG] [nvarchar](100) NOT NULL,
	[MACONGTI] [varchar](30) NOT NULL,
	[MALOAIHANG] [nvarchar](30) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONVITINH] [float] NOT NULL,
	[GIAHANG] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 9/11/2019 4:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MACONGTI] [varchar](30) NOT NULL,
	[TENCONGTI] [nvarchar](100) NOT NULL,
	[TENGIAODICH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [char](20) NULL,
	[FAX] [char](20) NULL,
	[EMAIL] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACONGTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 9/11/2019 4:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](20) NOT NULL,
	[HO] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](20) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NGAYLAMVIEC] [date] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [char](20) NULL,
	[LUONGCOBAN] [money] NOT NULL,
	[PHUCAP] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDONHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (N'HD1', N'MH1', 2000.0000, 1, 1)
INSERT [dbo].[CHITIETDONHANG] ([SOHOADON], [MAHANG], [GIABAN], [SOLUONG], [MUCGIAMGIA]) VALUES (N'HD2', N'MH2', 50000000.0000, 1, 1)
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOICHUYENHANG]) VALUES (N'HD1', N'KH1', N'NV1', CAST(N'2019-05-05' AS Date), CAST(N'2019-05-05' AS Date), CAST(N'2019-05-05' AS Date), N'HUE')
INSERT [dbo].[DONDATHANG] ([SOHOADON], [MAKHACHHANG], [MANHANVIEN], [NGAYDATHANG], [NGAYGIAOHANG], [NGAYCHUYENHANG], [NOICHUYENHANG]) VALUES (N'HD2', N'KH2', N'NV2', CAST(N'2019-06-06' AS Date), CAST(N'2019-06-06' AS Date), CAST(N'2019-06-06' AS Date), N'HUE')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTI], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH1', N'BAN TRAI CAY', N'MUA TRAI CAY', N'HUE', N'muatraicay@gmail.com', N'1234566', N'1236544')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTI], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH2', N'BAN HOA', N'MUA HOA', N'HUE', N'sinhmuahoa@gmail.com', N'55454', N'2311')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENCONGTI], [TENGIAODICH], [DIACHI], [EMAIL], [DIENTHOAI], [FAX]) VALUES (N'KH3', N'BAN BCS', N'BAN BCS', N'HUE', N'huybcs@gmail.com', N'6546464', N'65654')
INSERT [dbo].[LOAIHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (N'BCS', N'BCS')
INSERT [dbo].[LOAIHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (N'HOA', N'HOA')
INSERT [dbo].[LOAIHANG] ([MALOAIHANG], [TENLOAIHANG]) VALUES (N'TRAI CAY', N'TRAI CAY')
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTI], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'MH1', N'BCS', N'CT2', N'BCS', 10000, 1, 200000.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTI], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'MH2', N'HOA', N'CT3', N'HOA', 20, 3, 4.0000)
INSERT [dbo].[MATHANG] ([MAHANG], [TENHANG], [MACONGTI], [MALOAIHANG], [SOLUONG], [DONVITINH], [GIAHANG]) VALUES (N'MH3', N'TRAICAY', N'CT1', N'TRAI CAY', 1000, 1, 2520000.0000)
INSERT [dbo].[NHACUNGCAP] ([MACONGTI], [TENCONGTI], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT1', N'BAN TRAI CAY', N'MUA TRAI CAY', N'HUE', N'646546              ', N'3332                ', NULL)
INSERT [dbo].[NHACUNGCAP] ([MACONGTI], [TENCONGTI], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT2', N'BAN BCS', N'MUA BCS', N'HUE', N'4642123             ', N'21213               ', N'huybcs@gmail.com')
INSERT [dbo].[NHACUNGCAP] ([MACONGTI], [TENCONGTI], [TENGIAODICH], [DIACHI], [DIENTHOAI], [FAX], [EMAIL]) VALUES (N'CT3', N'BAN HOA', N'BAN HOA', N'HUE', N'21113               ', N'31232               ', NULL)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV1', N'HUY', N'NGUYEN', CAST(N'2000-08-18' AS Date), CAST(N'2019-08-18' AS Date), N'HUE', N'123456              ', 50000000.0000, 100000.0000)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV2', N'SINH', N'LE', CAST(N'1999-08-15' AS Date), CAST(N'2018-10-26' AS Date), N'HUE', N'6565                ', 333000.0000, 20000.0000)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH], [NGAYLAMVIEC], [DIACHI], [DIENTHOAI], [LUONGCOBAN], [PHUCAP]) VALUES (N'NV3', N'BÁO', N'NGUYEN', CAST(N'1992-12-12' AS Date), CAST(N'2018-10-10' AS Date), N'HUE', N'32                  ', 2000.0000, 2000.0000)
ALTER TABLE [dbo].[CHITIETDONHANG] ADD  CONSTRAINT [B]  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETDONHANG] ADD  CONSTRAINT [A]  DEFAULT ((0)) FOR [MUCGIAMGIA]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([MAHANG])
REFERENCES [dbo].[MATHANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[DONDATHANG] ([SOHOADON])
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD FOREIGN KEY([MACONGTI])
REFERENCES [dbo].[NHACUNGCAP] ([MACONGTI])
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD FOREIGN KEY([MALOAIHANG])
REFERENCES [dbo].[LOAIHANG] ([MALOAIHANG])
GO
